* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Times New Roman", Times, serif;
  background: rgb(255, 255, 255);
  color: rgb(45, 12, 12);
}

.toolCard:hover {
  box-shadow: 0 0 10px black;
  border: none;
  cursor: pointer;
}

.toolsTitle {
  margin: 0;
  padding: 2rem;
  background-color: white;
}

.toolsList {
  width: 90vw;
  max-width: 1170px;
  margin: 5rem auto;
  display: grid;
  gap: 2rem;
}

.toolsTitle img {
  max-width: 2rem;
  margin-left: 1rem;
}

@media screen and (min-width: 768px) {
  .toolsList {
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
  }
}

.toolCard {
  background: rgb(255, 255, 255);
  border-radius: 1rem;
  padding: 3rem;
  text-align: center;
  position: relative;
  border: 2px solid rgb(208, 208, 208);
}

.toolCard img {
  width: 100%;
  object-fit: cover;
}

.toolCard h1 {
  margin-top: 1rem;
  font-size: 1.5rem;
  padding: 1rem;
  color: #000000;
}

.toolCard p {
  color: #000000;
  font-size: 1rem;
  margin-top: 0.5rem;
  letter-spacing: 1px;
  padding: 2rem;
}

h1 {
  text-align: center;
  margin-top: 3rem;
  text-transform: capitalize;
}
